.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  background-color: var(--main_bg);
  box-shadow: var(--shadow_color);
  .row {
    #toggle {
      display: none;
    }

    @media only screen and (max-width: 991px) {
      flex-direction: column;

      .col-4 {
        width: 100%;
        .image-menubar {
          label.menu_icon {
            display: flex !important;
          }
        }
      }
      #toggle:checked ~ .col-8 ul.link-list.toggle {
        margin-top: 30px;
        height: 250px !important;
        transition: all 0.5s;
      }
      .col-8 {
        width: 100%;

        ul.link-list {
          flex-direction: column;
          justify-content: flex-start !important;
          height: 0 !important;
          overflow: hidden;
          align-items: flex-start !important;
          grid-gap: 12px;
        }
      }
      .social-icons {
        margin: 20px 0;
      }
    }

    .col-4 {
      .image-menubar {
        label.menu_icon {
          display: none;
          justify-content: center;
          align-items: center;
          font-size: 25px;
          height: 35px;
          width: 35px;
          background: #ff9800;
          outline: none;
          cursor: pointer;
          border-radius: 5px;
          color: #fff;
        }
        height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a.image {
          margin-left: -8px;
          width: 170px;
          height: 40px;
          cursor: pointer;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .col-8 {
      ul.link-list {
        height: 75px;
        transition: all 0.5s;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        grid-column-gap: 12px;
        .link-item {
          a {
            font-size: 16px;
            font-weight: 600;
            color: var(--text_color);
          }
        }
        .social-icons {
          display: flex;
          align-items: center;
          grid-column-gap: 12px;
          .link-item {
            background-color: var(--second_bg);
            height: 30px;
            width: 30px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
              font-size: 15px;
              display: flex;
              justify-content: center;
              align-items: center;
              span {
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
      }
    }
  }
}
